<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans" xmlns:AppServer="urn:schemas-progress-com:bpm:appserverbean:0001" xmlns:bpm="urn:schemas-progress-com:WSAD:0010" xmlns:camel="http://camel.apache.org/schema/spring" xmlns:xs="http://www.w3.org/2001/XMLSchema-instance" xs:schemaLocation="http://www.springframework.org/schema/beans spring-beans-2.5.xsd http://camel.apache.org/schema/spring camel-spring.xsd urn:schemas-progress-com:bpm:appserverbean:0001 appserverbean0001.xsd">
  <bean class="com.savvion.sbm.adapters.oe.SavvionBindingStrategy" id="AppServerBindingStrategy"/>
  <camel:camelContext id="camel">
    <camel:route id="AppServerRoute">
      <camel:from uri="cafDirect:AppServerInvoke?bindingStrategy=#AppServerBindingStrategy"/>
      <camel:to uri="AppServer:AppServerEndpoint"/>
    </camel:route>
  </camel:camelContext>
  <AppServer:AppServerEndpointBean id="AppServerEndpoint" xs:schemaLocation="urn:schemas-progress-com:bpm:appserverbean:0001 appserverbean0001.xsd urn:schemas-progress-com:WSAD:0010 wsad0010.xsd">
    <AppServer:userName/>
    <AppServer:password xs:nil="true"/>
    <AppServer:extraInfo/>
    <AppServer:sessionMode>1</AppServer:sessionMode>
    <bpm:ApplicationRuntimeProperties>
      <bpm:runtimePropertyVersion>4</bpm:runtimePropertyVersion>
      <bpm:appServiceProtocol>AppServer</bpm:appServiceProtocol>
      <bpm:appServiceHost>MIAppserver</bpm:appServiceHost>
      <bpm:appServicePort>5162</bpm:appServicePort>
      <bpm:appServiceName>bpsbroker1</bpm:appServiceName>
      <bpm:staleO4GLObjectTimeout>0</bpm:staleO4GLObjectTimeout>
      <bpm:minSessions>1</bpm:minSessions>
      <bpm:maxSessions>0</bpm:maxSessions>
      <bpm:initialSessions>1</bpm:initialSessions>
      <bpm:idleSessionTimeout>0</bpm:idleSessionTimeout>
      <bpm:requestWaitTimeout>-1</bpm:requestWaitTimeout>
      <bpm:nsClientMinPort>0</bpm:nsClientMinPort>
      <bpm:nsClientMaxPort>0</bpm:nsClientMaxPort>
      <bpm:nsClientPortRetry>3</bpm:nsClientPortRetry>
      <bpm:nsClientPortRetryInterval>200</bpm:nsClientPortRetryInterval>
      <bpm:nsClientPicklistSize>8</bpm:nsClientPicklistSize>
      <bpm:nsClientPicklistExpiration>300</bpm:nsClientPicklistExpiration>
      <bpm:serviceAvailable>1</bpm:serviceAvailable>
      <bpm:serviceLoggingLevel>2</bpm:serviceLoggingLevel>
      <bpm:serviceLoggingEntryTypes/>
      <bpm:appServiceConnectionMode>0</bpm:appServiceConnectionMode>
      <bpm:serviceFaultLevel>2</bpm:serviceFaultLevel>
      <bpm:waitIfBusy>0</bpm:waitIfBusy>
      <bpm:connectionLifetime>0</bpm:connectionLifetime>
      <bpm:minIdleConnections>0</bpm:minIdleConnections>
      <bpm:noHostVerify>0</bpm:noHostVerify>
      <bpm:noSessionReuse>0</bpm:noSessionReuse>
      <bpm:appServerKeepalive>denyClientASK,allowServerASK</bpm:appServerKeepalive>
      <bpm:clientASKActivityTimeout>60</bpm:clientASKActivityTimeout>
      <bpm:clientASKResponseTimeout>60</bpm:clientASKResponseTimeout>
    </bpm:ApplicationRuntimeProperties>
  </AppServer:AppServerEndpointBean>
<bean class="org.apache.camel.jboss.JBossPackageScanClassResolver" id="jbossResolver"/>
</beans:beans>
